SECRET_KEY=change-this-to-something-random
DB_HOST=mysql-2162ab3e-daroorpavankalyan-6cf2.g.aivencloud.com
DB_PORT=28094
DB_USER=avnadmin
DB_PASSWORD=AVNS_qI-_GewZkn00mXZEXbx
DB_NAME=defaultdb
MATCH_RADIUS_KM=15
